@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}

h3, p, a {
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 250px;
  text-align: center;
}

h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
}

a {
  text-align: left;
  color: #aaa;
  display: block;
  margin-top: 10px;
  outline: 0;
  padding: 5px;
  text-decoration: none;
  transition: .3s all ease-in-out;
}

a:hover {
  background: #aaa;
  color: #fff;
}

img {
  width: 20px;
  height: 20px;
  float: right;
}