body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}

#status {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 50px 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
  text-align: center;
  /* max-width: 400px; */
}